@model CaMovie.Models.Actor

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Actor</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Dob)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Dob)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Castings)
        </dt>
        <dd>
            <table class="table">
                <tr>
                    <th>Movie Title</th>
                    <th>Cert</th>
                </tr>
                @foreach (var item in Model.Castings)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Movie.Name)
                        </td>
                        
                    </tr>
                }
            </table>
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
